@import url('https://fonts.googleapis.com/css2?family=Exo&family=VT323&display=swap');

:root {
    background-color: #121212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Exo', sans-serif;
    color: #fff;
    letter-spacing: 0.3rem;
}

h1 {
    font-size: 5.4rem;
    color: #ffffff;
    margin-bottom: 5rem;
}

.hide {
    display: none;
}

.box {
    max-width: 60rem;
    margin: 10rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: black;
}

.btn {
    font-family: 'VT323', monospace;
    padding: 1.5rem 4.5rem;
    margin-right: 1rem;
    background-color: rgb(14, 83, 231);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.2rem;
    border: none;
    outline: none;
}

/* HOME PAGE */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.home-page .btn {
    font-size: 4.5rem;
    font-weight: bold;
    padding: 4rem 2rem;
    width: 50rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 83, 231);
    border-radius: .5rem;
    text-transform: uppercase;
    border: none;
    font-family: 'Turret Road', cursive;
}

.btn:hover {
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1.03);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(14, 83, 231);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.home-page p {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    font-weight: 400;
    color: white;
}

.home-page p span {
    font-size: 3rem;
    font-weight: 500;
}

/* GAME PAGE */
.game-page .question-number {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    width: 100%;
}

.game-page .question-text {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    padding: 2rem 0;
    width: 100%;
}

.game-page .option-container .option {
    padding: 1.5rem;
    font-size: 2rem;
    line-height: 2.2rem;
    background-color: rgb(14, 83, 231);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.game-page .option-container .option:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
}

.game-page .option-container .option.already-answered {
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game-page .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}


.game-page .option-container .option.correct {
    color: #fff;
}

.game-page .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.game-page .option-container .option.wrong {
    color: #fff;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* RESULT-PAGE */
.result-page {
    text-align: center;
}

.result-page h1 {
    font-size: 4rem;
    line-height: 4rem;
}

.result-page table {
    width: 100%;
    border-collapse: collapse;
    margin: 3rem 0;
}

.result-page table td {
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-weight: 500;
    width: 50%;
    text-align: left;
    font-size: 2rem;
    
}

span {
    font-size: 2rem;
}

.hide {
    display: none;
}

/* MEDIA */
@media (max-width: 767px) {
    .btn {
        margin-bottom: 1.5rem;
    }
    body {
        padding: 1.5rem;
    }
}





